h1,
h2 {
    text-align: center;
}

img {
    margin: 0 auto;
    width: 300px;
    display: block;
}

.description {
    background: rgb(101, 228, 118);
    width: 700px;
    margin: 0 auto;
    text-align: center;
}

.ingredients {
    background: rgb(255, 255, 255);
    width: 700px;
    margin: 0 auto;
    
}

.steps {
    background: rgb(235, 107, 107);
    width: 700px;
    margin: 0 auto;
}

body {
    background: rgb(168, 145, 145);
}