h1,
h2 {
    text-align: center;
}

.description {
    width: 700px;
    background: yellow;
    margin: 0 auto;
    text-align: center;
}

.ingredients {
    width: 700px;
    margin: 0 auto;
    background: green;
}

.steps {
    width: 700px;
    background: pink;
    margin: 0 auto;
}

body {
    background: paleturquoise;
}

img {
    width: 600px;
    margin: 0 auto;
    display: block;
}